@use './vars' as *;
@use './mixins' as *;



.overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: hsla(0,0%,0%, 0.5);
}

.ham-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 60%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}


.active {
  display: block !important;
}

.exit {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

ol {
  cursor: pointer;
  list-style-type: none;
  font-size: 18px;
  color: $medium-gray;
  li {
    @include up-down-padding(0.75rem, 0.3rem)
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.sub-list {
  display: none;
  padding: 1rem;
  li {
    img {
      margin-right: 0.75rem;
    }
  }
}

.ham-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  row-gap: 1rem;
  button {
    border: none;
    background-color: inherit;
    color: $medium-gray;
    font-size: 18px;
    cursor: pointer;
  }
  .register-btn {
    border: 2px solid $medium-gray;
    border-radius: 20px;
    @include up-down-padding(0.75rem, 1.5rem);
  }
}