@use './vars' as *;

.features:hover, .company:hover, .careers:hover,
.about:hover, .login:hover {
  color: $almost-black;
}

.register:hover {
  .register-btn {
    border-color: $almost-black;
    color: $almost-black;
  }
}

.btn-container > button:hover {
  background-color: $almost-white;
  color: $almost-black;
  border: 2px solid $almost-black;
}

.cl1:hover, .cl2:hover, .ham-careers:hover,
.ham-about:hover, .ham-btns > button:first-child:hover{
  @extend .features, :hover
}

.register-btn:hover {
  border-color: $almost-black;
  color: $almost-black;
}

.features-list > .sub-list > li:nth-child(1):hover,
.features-list > .sub-list > li:nth-child(2):hover,
.features-list > .sub-list > li:nth-child(3):hover,
.features-list > .sub-list > li:nth-child(4):hover {
  color: $almost-black;
}

.company-list > .sub-list > li:nth-child(1):hover,
.company-list > .sub-list > li:nth-child(2):hover,
.company-list > .sub-list > li:nth-child(3):hover {
  color: $almost-black;
}