@media (max-width: 1365px) {
  main {
    .description {
      .description-logo-container {
        margin-top: 5rem !important;
      }
    }
  }
}

@media (max-width: 1088px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    .description {
      width: 100% !important;
      padding-right: 0 !important;
      margin-bottom: 5rem;
      h1 {
        font-size: 5rem !important;
        text-align: center;
      }
      p {
        text-align: center;
      }
      .btn-container {
        display: flex;
        justify-content: center;
      }
      .description-logo-container {
        justify-content: center;
        margin-top: 3rem !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .features {
    display: none;
  }
  .company {
    @extend .features;
  }
  .careers {
   @extend .features;
  }
  .about {
    @extend .features;
  }
  .login {
    @extend .features;
  }
  .register {
    @extend .features;
  }
  .hamburger-menu {
    display: block !important;
    margin-left: auto;
  }
}